<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Documental</title>
    <link rel="stylesheet" href="resources/css/archivo.css">
</head>
<body>
    <header>
        <h2>Cargar Archivo</h2>
    </header>
    <div class="container-left">
        <button>Nuevo archivo</button>
        <button>Historial</button>
        <button>Cerrar Sesion</button>
    </div>

    <div class="container-table">
        <table>
            <tr>
                <th>Archivo</th>
                <th>Estado</th>
                <th>Observaciones</th>
            </tr>
        </table>
    </div>
</body>
</html>