<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Documental</title>
    <link rel="stylesheet" href="resources/css/login.css">
    
</head>
<body>
    <div class="container-login">
        <div class="login-left">
            <div class="form">
                <h2>Sistema de Gestion Documental</h2>
                <p>Iniciar Sesión</p>
                <form action="/login" method="POST">
                    <input type="email" name="email" id= "email" placeholder="Correo del usuario">
                    <input type="password" name="pass" id="pass" placeholder="Contraseña">
                    <button type="submit" id="btn-login">Acceder</button>
                </form>
            </div>
        </div>
        <div class="login-right">
            <!--<img src="/public/img/LOGOS/LOGOS DORADOS_Mesa de trabajo 1.png" alt="Isologotipo">-->
        </div>
    </div>
</body>
</html>

