<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Documental</title>
    <link rel="stylesheet" href="resources/css/modal.css">
</head>
    <div class="container-modal" id="modal">
        <div class="content-modal">
            <h3>Bienvenido al Sistema de Gestion Documental</h3>
            <p>Antes de realizar cualquier accion, tiene que leer los siguientes documentos y marcar las casillas de leido:</p>
            <hr>
            <section class="list-pdf">
                <div class="item">
                    <a href="resources/documents/Estructura Orgánica.pdf" target="_blank">
                        <span class="name">Estructura Organica.pdf</span>
                    </a>
                    <input type="checkbox">
                </div>

                <div class="item">
                    <a href="resources/documents/Estructura Orgánica.pdf" target="_blank">
                        <span class="name">INSTRUCTIVO FORMATO INVENTARIO.pdf</span>
                    </a>
                    <input type="checkbox">
                </div>

                <div class="item">
                    <a href="resources/documents/Ley de Archivos del Estado de Hidalgo.pdf" target="_blank">
                        <span class="name">Ley de Archivos del Estado de Hidalgo.pdf</span>
                    </a>
                    <input type="checkbox">
                </div>

                <div class="item">
                    <a href="" target="_blank">
                        <span class="name">Formato Inventario (excel)</span>
                    </a>
                    <input type="checkbox">
                </div>
            </section>
        </div>
    </div>
</body>
</html>